<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Record Label</title>
</head>
<body>
    <h1>Add Record Label</h1>
    <form action="/recordLabels" method="post">
        <label for="recordLabelName">Record Label Name: </label>
        <input type="text" name="recordLabelName" id="recordLabelName">

        <button type="submit">Create</button>
    </form>
</body>
</html>